<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713996855958-kdfad19gdc51rsql4et1jgmb1bj3vkkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713996855958-kdfad19gdc51rsql4et1jgmb1bj3vkkq</string>
	<key>API_KEY</key>
	<string>AIzaSyAY8oVdgDs0khRLx0HWTIBDA5HrP4e0HQU</string>
	<key>GCM_SENDER_ID</key>
	<string>713996855958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastKcal</string>
	<key>PROJECT_ID</key>
	<string>fast-kcal</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-kcal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713996855958:ios:9791af3b8c880a37db70b7</string>
</dict>
</plist>